<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.github.tucomel-keys</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2FDE6407-45D0-4E9C-9DBF-1E08FE1BFD5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>12CA673B-CDE4-413E-92FF-E3890E521492</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AAF8E94-0867-4D69-B776-20BD0D985905</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E18870FE-7323-4697-AEC2-E8D8D8009684</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7091BA2A-1189-4F36-A530-8DCA6A90DDA0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>378C7FF1-9254-42BA-BA08-0927320B805B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>766B037D-4D07-4165-B0EB-523399341447</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0BD165B-08E6-412A-8413-371848C4ADD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9F100B56-8ED8-4854-9D14-81EAC2076D20</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>84C01828-9A13-4A71-A46B-4C33B26CA662</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D1422777-5812-41D6-BCAC-2B7BFD33AF2E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB810E5C-C077-4EE8-B5CB-60B3E09AB32E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>github.com/tucomel/alfred-workflow-keys</string>
	<key>description</key>
	<string>Customizer Keys</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Customizer Keys</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>9F100B56-8ED8-4854-9D14-81EAC2076D20</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>84C01828-9A13-4A71-A46B-4C33B26CA662</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D1422777-5812-41D6-BCAC-2B7BFD33AF2E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>CB810E5C-C077-4EE8-B5CB-60B3E09AB32E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>2</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>12CA673B-CDE4-413E-92FF-E3890E521492</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2FDE6407-45D0-4E9C-9DBF-1E08FE1BFD5A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>7</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>E18870FE-7323-4697-AEC2-E8D8D8009684</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>6AAF8E94-0867-4D69-B776-20BD0D985905</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>766B037D-4D07-4165-B0EB-523399341447</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>command</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.itunescommand</string>
			<key>uid</key>
			<string>A0BD165B-08E6-412A-8413-371848C4ADD2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)		set pathList to "~"	if frontmost of application "Finder" then		tell application "Finder"			set fileList to selection as alias list			if fileList is equal to {} then				set pathList to (quoted form of POSIX path of (folder of the front window as alias))			else				set pathList to (quoted form of POSIX path of (item 1 of fileList))			end if		end tell	end if	tell application "System Events"		tell application "Terminal"			activate			if exists window 1 then				do script ("cd " &amp; pathList) in window 1			else				do script ("cd " &amp; pathList)			end if		end tell	end tell	end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>378C7FF1-9254-42BA-BA08-0927320B805B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

if frontmost of application "Finder" then
    display dialog ("Finder is in front")
else
    display dialog ("Finder is not in front")
end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D6991972-8941-4446-8EF9-3AEC49E88E4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>120</integer>
				<key>hotmod</key>
				<integer>8912896</integer>
				<key>hotstring</key>
				<string>F2</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>7091BA2A-1189-4F36-A530-8DCA6A90DDA0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>12CA673B-CDE4-413E-92FF-E3890E521492</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>2FDE6407-45D0-4E9C-9DBF-1E08FE1BFD5A</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>235</integer>
		</dict>
		<key>378C7FF1-9254-42BA-BA08-0927320B805B</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>6AAF8E94-0867-4D69-B776-20BD0D985905</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
		<key>7091BA2A-1189-4F36-A530-8DCA6A90DDA0</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>766B037D-4D07-4165-B0EB-523399341447</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>84C01828-9A13-4A71-A46B-4C33B26CA662</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>9F100B56-8ED8-4854-9D14-81EAC2076D20</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>25</integer>
		</dict>
		<key>A0BD165B-08E6-412A-8413-371848C4ADD2</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>445</integer>
		</dict>
		<key>CB810E5C-C077-4EE8-B5CB-60B3E09AB32E</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D1422777-5812-41D6-BCAC-2B7BFD33AF2E</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D6991972-8941-4446-8EF9-3AEC49E88E4A</key>
		<dict>
			<key>note</key>
			<string>teste dialog</string>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>590</integer>
		</dict>
		<key>E18870FE-7323-4697-AEC2-E8D8D8009684</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>340</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
